body{
	background-image: url('53eb26dec0f2f.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #1e1e1e;
/*	height: 900px;
	width: 1500px;*/
}



/*
background-image{
	opacity: 0.5;
}*/