Body{
    BACKGROUND: WHITESMOKE;

}
.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {

  margin-left: auto;
  margin-right: auto;
  width: 700px;
  padding: 10px;
  border: 3px solid yellow;
 color: white;
  text-align: -webkit-center;
   padding-bottom: 18px;
    padding-top: 16px;

background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);


}
.button {
  background-image: linear-gradient(to right, #dcba12 0%, #ffff00  51%, #f7d31e  100%);
  text-decoration: none;
  padding: 15px 45px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;            
  box-shadow: 0 0 20px rgba(8, 8, 8, 0.46);
  border-radius: 10px;
  display: block;
  border: none;
}


.button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

         
.btn-grad {

}

.btn-grad:hover {
  
}

input{
  
  padding: 6px 12px;
  
  background: rgb(31, 32, 35);
  border: 1px solid rgb(60, 63, 68);
  border-radius: 4px;
  font-size: 13px;
  color: rgb(247, 248, 248);
  height: 46px;
  appearance: none;
  transition: border 0.15s ease 0s;
  margin-bottom: 10px !important;
}:focus{
      outline: none;
      box-shadow: none;
      border-color: rgb(229, 255, 0);
  }

  label{
    text-align: left !important;
    color: yellow;
  }
